In [2]:
#1.
input_string = input("Enter a string value: ")
char_count = {}
for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print("Sample output:", end=" ")
for char, count in char_count.items():
    print(f"{char}={count}", end=", ")
print("\b\b ")

Enter a string value: Assembly
Sample output: A=1, s=2, e=1, m=1, b=1, l=1, y=1, 

In [4]:
#2.
def maxi(n1,n2,n3):
  result=(max(n1,n2,n3))
  return result
n1=34
n2=12
n3=7
m=maxi(n1,n2,n3)
print('maximum is',m)

maximum is 34

In [8]:
#3.
def expo():
  n=int(input('Enter base:'))
  m=int(input('Enter exponent:'))
  ex=n**m
  return ex
e=expo()
print(e)

Enter base:2
Enter exponent:3
8

In [11]:
#4.
def sum_cube(n):
    sum_cubes = 0
    for i in range(n):
        sum_cubes += i**3
    return sum_cubes
n = int(input("Enter a positive integer: "))
if n > 0:
    result = sum_cube(n)
    print(result)
else:
    print("Please enter a positive integer.")

Enter a positive integer: 4
36

In [18]:
#5.
def game():
  for i in range(1,11):
    if i%2==0 & i%5==0:
      print('FizzBuzz')
    elif i%2==0:
      print('Fizz')
    else:
      print('Buzz')
game()

Buzz
FizzBuzz
Buzz
FizzBuzz
Buzz
FizzBuzz
Buzz
FizzBuzz
Buzz
FizzBuzz

In [19]:
#6.
numbers = [2, 3, 4, 2, 5, 2]
frequency = {}
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1
most_frequent = max(frequency, key=frequency.get)
print(most_frequent)

2

In [20]:
#7.
numbers = [2, 1, 3, 1]
sum_of_squares = sum(x**2 for x in numbers)
print(sum_of_squares)

15

In [24]:
#8.
for i in range(1,16):
  if i%2==0:
    print(i,'-even')
  else:
    print(i,'-odd')

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

In [26]:
#9.
f=int(input('Enter temp in fahrenheit:'))
Temp_in_d=5*((f-32)/9)
print(Temp_in_d)

Enter temp in fahrenheit:41
5.0

In [27]:
#10.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
num = 3
result = factorial(num)
print(f"The factorial of {num} is: {result}")

The factorial of 3 is: 6