In [ ]:
#1.
from math import*
radius=int(input('enter the radius:'))
area_circle=pi*radius**2
print(area_circle)

enter the radius:3
28.274333882308138

In [ ]:
#2.
Name=input('Enter the name:')
Roll_number=int(input('Enter the roll number:'))
Mark=int(input('Enter the mark:'))

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78

In [ ]:
#3.
l1=[]
for i in range(4):
  n1=int(input('Enter number:'))
  l1.append(n1)
print(l1)
lar=max(l1)
print(f'{lar} is the largest number')

Enter number:12
Enter number:3
Enter number:47
Enter number:10
[12, 3, 47, 10]
47 is the largest number

In [ ]:
#4.
prev_nmbr=0
for crnt_nmbr in range(1,11):
  sum2=crnt_nmbr+prev_nmbr
  print(f"Current Number {crnt_nmbr} Previous Number {prev_nmbr} Sum: {sum2}")
  prev_nmbr=crnt_nmbr

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [4]:
#5.
l5=[]
for i in range(5):
  z=int(input('Enter a number:'))
  if z%5==0:
    l5.append(z)
print(l5)

Enter a number:10
Enter a number:20
Enter a number:33
Enter a number:46
Enter a number:55
[10, 20, 55]

In [5]:
#6.
n=int(input('Enter a number:'))
for i in range(2,n):
  if n%i==0:
    print('not a prime number')
  else:
    print('prime number')

Enter a number:3
prime number

In [6]:
#7.
input_list = [10, 40, 30, 70]
reversed_list = []
for i in range(len(input_list) - 1, -1, -1):
    reversed_list.append(input_list[i])
print("Reversed list:", reversed_list)

Reversed list: [70, 30, 40, 10]

In [9]:
#8.
r = 4
for i in range(1, r + 1):
    print('*' * i)

*
**
***
****

In [10]:
#9.
sample_input=[34,12,7]
print(max(sample_input))

34

In [12]:
#10.
rows = 5
pattern = [('*' * i) for i in range(1, rows + 1)]
pattern += [('*' * i) for i in range(rows - 1, 0, -1)]
for line in pattern:
    print(line)

*
**
***
****
*****
****
***
**
*